#slider {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 563px;
  margin: auto;
}

#slider ul {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease-in;
}

#slider li {
  float: left;
  width: 1000px;
}

#slider .pager {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
}

#slider .pager span {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999em;
  margin: 0 5px;
}

#slider .pager span.active {
  background-color: #333;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}
