body {
  margin: 0;
}

#slider {
  position: relative;
  overflow-X: hidden;
  width: 100%;
  margin: auto;
}

#slider ul.slider-list {
  position: absolute;
  width: 100%;
}

#slider ul.slider-list.animated {
  -webkit-animation: left .3s ease-in;
  transition: left .3s ease-in;
}

#slider li.slider-content {
  position: absolute;
  float: left;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
}

#slider .pager {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
}

#slider .pager span {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border:2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999em;
  margin: 0 5px;
}

#slider .pager span.active {
  background-color: #333;
  border:2px solid #fff;
}

#slider button {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  font-size: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ddd;
  transition: all .3s;
}

#slider button:hover {
  color: #333;
}

#slider button.prevBtn {
  left:30px;
}

#slider button.nextBtn {
  right:30px;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}
